* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-size: 35px;
}

p{
    font-size: 20px;
}

i{
    font-size: 60px;
    color: #0071d8;
}

i:hover{
    font-size: 70px;
}
.menu-container {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    
}

.menu {
    
    padding: 15px 0;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.bootstrap{
    font-size: 20px;
    padding: 10px 5px;
}

.signup{
    color: #ffffff
}

.button {
    background-color: #5995DA; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 4px;
    margin-left: 20px;
}

.email{
    margin-top: 10px;
}

.button:hover {
    background-color:#2c64a5;
}

.header-container {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
      
}

.header {
    
    width: 50%;
    height: 500px;
    display: flex;    
    flex-direction: column;
    align-items: center;
}

.headertext{
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}
.features-container {
    display: flex;
    justify-content: center;
    background-color: #D6E9FE;
}

.features, .features2 {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

  
 
}

.features2{
    width: 85%;
    margin-top: 0px;
    text-align: center;
}

.photo-container {
  display: flex;
}

.left-half {
  flex-direction: column;
  justify-content: center;
  background-color: #ff9e2c;
  flex: 1;
    display: flex;
    width: 50%;
    text-align: center;
}

.right-half {
  flex-direction: column;
  justify-content: center;
  background-color: #b6701e;
  flex: 1;
  display: flex;
  width: 50%;
  text-align: center;
  
}

.test{
width: 100%;
height: 450px;
}
